<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat teal-300 m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ title }}</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
  
    <form [formGroup]="permissionForm" novalidate>
  
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-sm="55">
          <mat-label>{{ 'PAGES.APPS.FILEMANAGER.PICK' | translate }}...</mat-label>
          <mat-select multiple formControlName="objects" [compareWith]="compare">
            <mat-optgroup *ngIf="clients.length > 0">
              <mat-label>{{ 'NAV.CLIENTS' | translate }}</mat-label>
              <mat-option *ngIf="clients.length > 1" [value]="allClients">{{ 'PAGES.APPS.FILEMANAGER.ALLCLIENTS' | translate }}</mat-option>
              <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-optgroup>
            <mat-optgroup *ngIf="users.length > 0">
              <mat-label>{{ 'NAV.USERS' | translate }}</mat-label>
              <mat-option *ngIf="users.length > 1" [value]="allUsers">{{ 'PAGES.APPS.FILEMANAGER.ALLUSERS' | translate }}</mat-option>
              <mat-option *ngFor="let user of users" [value]="user">{{user.userName}} ({{user.email}}) </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" fxFlex.lt-sm="40">
          <mat-select formControlName="type" required>
            <mat-option [value]="0">{{ 'PAGES.APPS.FILEMANAGER.READONLYPERMISSION' | translate }}</mat-option>
            <mat-option [value]="1">{{ 'PAGES.APPS.FILEMANAGER.READANDWRITEPERMISSION' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </form>
  
  </div>
  
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
  
    <button mat-button class="save-button" (click)="sendForm()" [disabled]="permissionForm.invalid" aria-label="SAVE">
      {{ 'COMMONACTIONS.SAVE' | translate }}
    </button>
  
  </div>
</div>