:host {

    .folded:not(.unfolded) & {

        .nav-link {

            > span {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }

        &.open {

            .children {
                display: none !important;
            }
        }
    }

    .nav-link {

        .collapsable-arrow {
            transition: transform .3s ease-in-out, opacity .25s ease-in-out .1s;
            transform: rotate(0);
        }
    }

    > .children {
        overflow: hidden;
    }

    &.open {

        > .nav-link {

            .collapsable-arrow {
                transform: rotate(90deg);
            }
        }
    }
}

.button-add-group {
    align-items: center;
    min-width: 35px;
    height: 35px;
    padding: 0 7px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 20px;
    transition: opacity 0.2s ease-in-out 0.1s;
    border-color: #4db6ac !important;
}

#horizontal-container {    
    overflow: hidden;
    width: 90%;    
}
  
#inner-container {
    overflow: hidden;    
    display:flex;    
}

.menuItem {
    width: 70%; 
    padding-left: 0px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

.menuIcon {        
    width: 10%; 
    text-align: right;
} 