:host {

    .folded:not(.unfolded) & {

        > .group-title {
            align-items: center;

            > span {
                opacity: 0;
                transition: opacity 200ms ease;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                min-width: 1.6rem;
                border-top: 2px solid;
                opacity: 0.2;
            }
        }
    }

    .button-add-folder {
        align-items: center;
        min-width: 35px;
        height: 35px;
        padding: 0 7px;
        font-size: 11px;
        font-weight: 600;
        border-radius: 20px;
        transition: opacity 0.2s ease-in-out 0.1s;
        margin-left: 8px;
        border-color: #4db6ac !important;
    }

    #horizontal-container {
        overflow: hidden;
        width: 90%;
    }
    
    #inner-container {
        overflow: hidden;
        display:flex;
        align-items:center;
    }
    
    .menuItem {
        width: 70%; 
        margin-left: 10px;    
        margin-top: 10px;    
        //white-space: nowrap;  
    }
    
    .menuIcon {
        margin-right: 20px;    
        width: 20%;
        text-align: right;
    }
}
