<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">
            
    <div class="center" fxFlex>

        <div class="header teal-300 p-24" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" >
                <button *ngIf="!isRootFolder" mat-icon-button class="mr-0 mr-sm-16" (click)="goBack()" [@animate]="{value:'*',params:{x:'50px'}}">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div *ngIf="fileStorage" class="breadcrumb text-truncate h1 pl-10" [@animate]="{value:'*',params:{x:'50px'}}">
                    <span *ngIf="fileStorage.name == 'My Folder'">{{ 'NAV.MYFILEMANAGER' | translate }}</span>
                    <span *ngIf="fileStorage.name != 'My Folder'">{{ fileStorage.name }}</span>
                </div>
            </div>

            <div>
                <button *ngIf="(isAvailableToUpdate || isAvailableToUpdatePermission) && fileStorage.id != 'shared-with-me'" mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                
                <mat-menu #moreMenu="matMenu">
                    <button *ngIf="isAvailableToUpdate" mat-menu-item aria-label="download" (click)="addFolder()">
                        <mat-icon>add</mat-icon>
                        <span>{{ 'PAGES.APPS.FILEMANAGER.ADDFOLDER' | translate }}</span>
                    </button>
                    <button *ngIf="isAvailableToUpdate" mat-menu-item aria-label="edit" (click)="addFile()">
                        <mat-icon>add</mat-icon>
                        <span>{{ 'PAGES.APPS.FILEMANAGER.ADDFILE' | translate }}</span>
                    </button>
                    <button *ngIf="isAvailableToUpdatePermission" mat-menu-item aria-label="add permission" (click)="addPermission()">
                        <mat-icon>person_add</mat-icon>
                        <span>{{ 'PAGES.APPS.FILEMANAGER.ADDPERMISSION' | translate }}</span>
                    </button>
                    <button *ngIf="isAvailableToUpdate" mat-menu-item aria-label="update" (click)="updateFolder()">
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'PAGES.APPS.FILEMANAGER.UPDATECURRENTFOLDER' | translate }}</span>
                    </button>
                    <button *ngIf="isAvailableToUpdate" mat-menu-item aria-label="remove" (click)="removeFolder()">
                        <mat-icon>delete</mat-icon>
                        <span>{{ 'PAGES.APPS.FILEMANAGER.REMOVECURRENTFOLDER' | translate }}</span>
                    </button>                    
                </mat-menu>
            </div>
        </div>

        <div class="content" fusePerfectScrollbar>
            <mat-form-field class="ml-16">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'COMMONACTIONS.FILTER' | translate }}...">
            </mat-form-field>
            
            <file-list></file-list>
        </div>

    </div>

    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right" lockedOpen="gt-md">
            <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar>

</div>
