<div class="header teal-300 p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

        <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button *ngIf="!selected.isDirectory" mat-menu-item aria-label="download" (click)="downloadFile(row)">
                <mat-icon>cloud_download</mat-icon>
                <span>{{ 'COMMONACTIONS.DOWNLOAD' | translate }}</span>
            </button>
            <button *ngIf="buttonUpdateIsAvailable" mat-menu-item aria-label="edit" (click)="updateFolder(row)">
                <mat-icon>edit</mat-icon>
                <span>{{ 'COMMONACTIONS.EDIT' | translate }}</span>
            </button>
            <button *ngIf="buttonRemoveIsAvailable" mat-menu-item aria-label="remove" (click)="removeFolder(row)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'COMMONACTIONS.REMOVE' | translate }}</span>
            </button>
        </mat-menu>

        <button mat-icon-button matTooltip="Close" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div>
        <div class="title mb-8">{{selected.name}}</div>
        <div class="subtitle secondary-text">
            <span>{{ 'PAGES.APPS.FILEMANAGER.EDITED' | translate }}</span>
            <span *ngIf="selected.updateBy">: {{selected.updateBy.userName}}</span>
            <span *ngIf="!selected.updateBy">: {{selected.createBy.userName}}</span>
        </div>
    </div>
</div>

<div class="content p-24" fusePerfectScrollbar>

    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48">{{selected.storageType}}</mat-icon>
        </div>

        <div class="title">{{ 'PAGES.APPS.FILEMANAGER.INFO' | translate }}</div>

        <table>

            <tr>
                <th>{{ 'PAGES.APPS.FILEMANAGER.TYPE' | translate }}</th>
                <td *ngIf="selected.isDirectory">folder</td>
                <td *ngIf="!selected.isDirectory && selected.file"> {{selected.file.extension}}</td>
            </tr>

            <tr *ngIf="!selected.isDirectory && selected.file">
                <th>{{ 'PAGES.APPS.FILEMANAGER.SIZE' | translate }}</th>
                <td>{{selected.file.size}} {{selected.file.sizeType}}</td>
            </tr>

            <tr class="owner">
                <th>{{ 'PAGES.APPS.FILEMANAGER.OWNER' | translate }}</th>
                <td>{{selected.createBy.userName}}</td>
            </tr>

            <tr class="modified">
                <th>{{ 'PAGES.APPS.FILEMANAGER.MODIFIEDBY' | translate }}</th>
                <td *ngIf="selected.updateBy">{{selected.updateBy.userName}}</td>
            </tr>

            <tr class="modified">
                <th>{{ 'PAGES.APPS.FILEMANAGER.MODIFIEDDATE' | translate }}</th>
                <td *ngIf="selected.updateDate">{{selected.updateDate | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>

            <tr class="created">
                <th>{{ 'PAGES.APPS.FILEMANAGER.CREATEBY' | translate }}</th>
                <td>{{selected.createBy.userName}}</td>
            </tr>

            <tr class="created">
                <th>{{ 'PAGES.APPS.FILEMANAGER.CREATEDATE' | translate }}</th>
                <td>{{selected.createDate | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
        </table>
    </div>

</div>
