<div class="header teal-500 p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div *ngIf="selected">
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div>
            <div class="title mb-8">{{selected.name}}</div>
            <div class="subtitle secondary-text">
                <span>{{ 'PAGES.APPS.FILEMANAGER.EDITED' | translate }}</span>
                <span *ngIf="selected.updateBy">: {{selected.updateBy.userName}}</span>
                <span *ngIf="!selected.updateBy">: {{selected.createBy.userName}}</span>
            </div>
        </div>    
    </div>
</div>

<div class="content p-24" fusePerfectScrollbar>

    <div *ngIf="selected">
        <mat-tab-group animationDuration="1000ms">
            <mat-tab label="Info">
                <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">
                   
                    <table>

                        <tr>
                            <th>{{ 'PAGES.APPS.FILEMANAGER.TYPE' | translate }}</th>
                            <td *ngIf="selected.isDirectory">{{ 'PAGES.APPS.FILEMANAGER.FOLDER' | translate }}</td>
                            <td *ngIf="!selected.isDirectory && selected.file"> {{selected.file.extension}}</td>
                        </tr>

                        <tr *ngIf="!selected.isDirectory && selected.file">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.SIZE' | translate }}</th>
                            <td>{{selected.file.size}} {{selected.file.sizeType}}</td>
                        </tr>

                        <tr class="owner">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.OWNER' | translate }}</th>
                            <td *ngIf="selected.createBy">{{selected.createBy.userName}}</td>
                        </tr>

                        <tr class="modified">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.MODIFIEDBY' | translate }}</th>
                            <td *ngIf="selected.updateBy">{{selected.updateBy.userName}}</td>
                        </tr>

                        <tr class="modified">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.MODIFIEDDATE' | translate }}</th>
                            <td *ngIf="selected.updateDate">{{selected.updateDate | date: 'dd/MM/yyyy HH:mm O'}}</td>
                        </tr>

                        <tr class="created">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.CREATEBY' | translate }}</th>
                            <td *ngIf="selected.createBy">{{selected.createBy.userName}}</td>
                        </tr>

                        <tr class="created">
                            <th>{{ 'PAGES.APPS.FILEMANAGER.CREATEDATE' | translate }}</th>
                            <td *ngIf="selected.createDate">{{selected.createDate | date: 'dd/MM/yyyy HH:mm O'}}</td>
                        </tr>
                    </table>
                </div> 
            </mat-tab>

            <div *ngIf="isAvailableToOpenPermission">
                <mat-tab label="{{ 'PAGES.APPS.FILEMANAGER.PERMISSIONS' | translate }}">
                    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

                        <div *ngFor="let permission of selected.permissions; let i = index" class="mt-16">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxFlex="60">{{permission.recipient.userName}}<span fxHide fxShow.gt-xs><br>({{permission.recipient.email}})</span></div>
                                <div> 
                                    <div *ngIf="permission.type == 0">{{ 'PAGES.APPS.FILEMANAGER.READONLYPERMISSION' | translate }}</div> 
                                    <div *ngIf="permission.type == 1">{{ 'PAGES.APPS.FILEMANAGER.READANDWRITEPERMISSION' | translate }}</div> 
                                </div>
                                <button *ngIf="isAvailableToUpdatePermission" mat-icon-button (click)="editPermission(permission)">
                                    <mat-icon class="secondary-text">edit</mat-icon>
                                </button>
                                <button *ngIf="isAvailableToUpdatePermission" mat-icon-button (click)="deletePermission(permission)">
                                    <mat-icon class="secondary-text">delete</mat-icon>
                                </button>
                            </div>
                            <mat-divider class="mt-16"></mat-divider>
                        </div>
                            
                    </div>
                    
                </mat-tab>    
            </div>
            
        </mat-tab-group>    
    </div>
    <div *ngIf="!selected">
        <span>{{ 'PAGES.APPS.FILEMANAGER.NOTHINGSELECTED' | translate }}</span>
    </div>  
</div>
