<div id="advanced-search" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
  
  <div class="header teal-300 p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
    <div fxLayout="row" fxLayoutAlign="start center">
      
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          {{ 'NAV.ADVANCEDSEARCH' | translate }} 
        </span>
      </div>
    </div>
  </div>

  <div class="content">
    
    <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
      
      <div class="content p-24" [formGroup]="advancedSearchForm">
        
        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            
          <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'NAV.CLIENTS' | translate }}</mat-label>
              <mat-select matNativeControl formControlName="clients" multiple (selectionChange)="search()" [compareWith]="clientCompare">
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'NAV.DEPARTMENTS' | translate }}</mat-label>
              <mat-select matNativeControl formControlName="departments" multiple (selectionChange)="search()" [compareWith]="departmentCompare">
                <mat-option *ngFor="let department of departments" [value]="department">{{department.name}} (Client: {{department.client.name}})</mat-option>
              </mat-select>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            
            <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'NAV.USERS' | translate }}</mat-label>
              <mat-select matNativeControl formControlName="users" multiple (selectionChange)="search()" [compareWith]="userCompare">
                <mat-option *ngFor="let user of users" [value]="user">{{user.userName}} (Client: {{user.client.name}}
                  <span *ngIf="user.department">, Department: {{user.department.name}}</span>)
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'NAV.USERGROUPS' | translate }}</mat-label>
              <mat-select matNativeControl formControlName="userGroups" multiple (selectionChange)="search()" [compareWith]="groupCompare">
                <mat-option *ngFor="let userGroup of userGroups" [value]="userGroup">{{userGroup.name}}</mat-option>
              </mat-select>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row">
          <mat-form-field appearance="outline" fxFlex="47">
            <mat-label>{{ 'PAGES.APPS.ADVANCEDSEARCH.FOLDERS' | translate }}</mat-label>
            <mat-select matNativeControl formControlName="folders" multiple (selectionChange)="search()" [compareWith]="folderCompare">
              <mat-option *ngFor="let folder of folders" [value]="folder">{{folder.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'PAGES.APPS.ADVANCEDSEARCH.STARTDATE' | translate }}</mat-label>
              <input matInput [matDatepicker]="startDate" formControlName="startDate" (dateChange)="search()">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="47">
              <mat-label>{{ 'PAGES.APPS.ADVANCEDSEARCH.ENDDATE' | translate }}</mat-label>
              <input matInput [matDatepicker]="endDate" formControlName="endDate" (dateChange)="search()">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{ 'PAGES.APPS.ADVANCEDSEARCH.SEARCHBYTEXT' | translate }}...</mat-label>
            <input matInput formControlName="searchString" (keydown.enter)="search()">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="end" fxLayout.gt-sm="row">
          <button mat-raised-button class="add-car-button teal-300 mt-24 mt-md-0" (click)="search()">
            <span>{{ 'PAGES.APPS.ADVANCEDSEARCH.SEARCH' | translate }}</span>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      
      <div class="content mt-24">
        <mat-table #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}">

          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon class="type-icon">{{row.storageType}}</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.APPS.ADVANCEDSEARCH.NAME' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.name}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="extension">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.APPS.ADVANCEDSEARCH.EXTENSION' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="!row.isDirectory && row.file"> {{row.file.extension}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updateDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.APPS.ADVANCEDSEARCH.UPDATEDATE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.updateDate">{{row.updateDate | date: 'dd/MM/yyyy HH:mm O'}}</span>
              <span *ngIf="!row.updateDate">{{row.createDate | date: 'dd/MM/yyyy HH:mm O'}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updateBy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.APPS.ADVANCEDSEARCH.UPDATEBY' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.updateBy">{{ row.updateBy.userName }}</span>
              <span *ngIf="!row.updateBy">{{ row.createBy.userName }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="size">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGES.APPS.ADVANCEDSEARCH.SIZE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="!row.isDirectory && row.file">
                  {{row.file.size}} {{row.file.sizeType}}
              </span>
            </mat-cell>
          </ng-container>
                    
          <ng-container matColumnDef="button">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected' : row == selected}" 
            matRipple [@animate]="{value:'*',params:{y:'100%'}}">
          </mat-row>

        </mat-table>

        <mat-paginator #paginator [length]="dataSource.filteredData.length"
          [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>